/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(to right, rgba(211, 211, 211, 1) 0px 2px, rgba(211, 211, 211, 0) 2px 4px),
    repeating-linear-gradient(to bottom, rgba(211, 211, 211, 1) 0px 2px, rgba(211, 211, 211, 0) 2px 4px),
    linear-gradient(to bottom,rgba(231, 231, 231, 1), rgba(26, 26, 26, 1));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Inter-Variable', sans-serif;
  font-size: 18px;
  container-type: inline-size;
}

.special_font {
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 98px auto 96px auto;
  max-width: 704px;
  width: 100%;  
  padding: clamp(7.5rem, 6.7898rem + 3.0303vw, 8.125rem) 0;
  font-family: 'PressStart2P', sans-serif;
  border: 2px solid #000;
  background-color: #fff;
  text-transform: uppercase;
}

.header_title {
  font-size: clamp(3.0625rem, 1.9261rem + 4.8485vw, 4.0625rem);
}

.header_text {
  font-size: clamp(0.875rem, 0.2358rem + 2.7273vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  gap: 49px;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;  
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
}

.card_header {
  font-variation-settings: "wght" 715;
  margin: 6px 10px 4px 10px;
  font-size: 18px;
}

.card_image {
  display: flex;
  position: relative;
}

.card_image_picture {
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.card_image_text {
  position: absolute;
  top: 28px;
  right: 25px;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0px 0px 5px #fff;
  text-transform: uppercase;
}

@supports (text-stroke: 0.5px #fff) or (-webkit-text-stroke: 0.5px #fff)  {
  .card_image_text {
    text-shadow: none;
    -webkit-text-stroke: 0.5px #fff;
    text-stroke: 0.5px #fff;
  }
}

.card_description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card_text {
  font-variation-settings: "wght" 410;
  line-height: 21px;
}

.card_buttons {
  display: flex;
  flex-direction: row;
  gap: 7px;
  position: relative;
  margin: 0 0 0 auto;
}

.button {
  display: flex;
  justify-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  border: 2px solid #000;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  translate: -100% 0%;
}

.button:hover::before {
  transition: translate 0.5s ease-in-out;
  translate: 0% 0%;
}

.button:focus {
  box-shadow: 2px 2px #000;
}

.like-icon {
  width: 39px;
  height: 36px;
  cursor: pointer;
  z-index: 9;
  transform-origin: center;
  margin-top: -2px;
  margin-left: -2px;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.sparks {
  opacity: var(--sparks-opacity);
}

.card__icon-button:hover .like-icon .core {
  --animation-fill-color: black;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon .main-body {
  --animation-fill-color: black;
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .like-icon .core {
  --animation-fill-color: red;
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon .main-body {
  --animation-fill-color: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart .contour {
  --contour-color: red;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart .core {
  --animation-fill-color: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart .main-body {
  --animation-fill-color: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: scaling 0.3s ease-in 0.1s 1;
  transform-origin: center;
}


.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
  transform-origin: center;
}

.card__icon-button {
  position: relative;
  height: 36px;
  width: 39px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
  z-index: 10;
  transition: border 0.3s ease;
  padding: 0;
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__like-button {
  inline-size: 130px;
  height: 38px;
}

.button__text {
  font-size: 14px;
  position: relative;
  justify-self: center;
  line-height: 21px;
  z-index: 7;
  color: #fff;
  mix-blend-mode: difference;
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  margin: auto;
}

.save_button {
  width: 335px;
  padding: 16px 17px 14px 17px;
  margin: 0 auto 100px auto;
  gap: 8px;
}

.save_image {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.save_dialog {
  display: none;
  gap: 30px;
  position: fixed;
  border: 2px solid #000;
  background-color: #fff;
  padding: 30px;
  min-width: 357px;
  inline-size: 357px;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.save_dialog[open] {
  display: flex;
  flex-direction: column;
}

.save_dialog[open]::backdrop {
  backdrop-filter: brightness(25%)
}

.save_dialog_objects {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.save_dialog_image {
  margin-top: 12px;
}

.save_dialog_text {
  font-size: 14px;
  width: 202px;
  line-height: 21px;
  text-transform: uppercase;
}

.save_dialog_button {
  display: flex;
  width: 293px;
  height: 38px;
  padding: 10px 0;
  align-items: center;
  line-height: 14px;
  text-transform: uppercase;
}

.blur {
  filter: blur(5px);
}

.contrast {
  filter: contrast(200%);
}

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.brightness_hue-rotate {
  filter: brightness(50%) hue-rotate(180deg);
}

.invert {
  filter: invert(100%);
}

.sepia_invert {
  filter: sepia(100%) invert(100%);
}

@media (width <= 375px) {
  .header {
    margin: 100px auto;
  }
  
  .main {
    gap: 51px;
  }

  .save_image {
    justify-self: center;
    margin: 0 auto;
    width: 28px;
    height: auto;
  }

  .save_button {
    flex-direction: column;
    width: 306px;
    padding: 15px 17px 10px 17px;
    gap: 5px;
  }
  
  
  .save_dialog {
    padding: 30px 40px;
    min-width: 345px;
    width: 345px;
  }

  .save_dialog_button {
    width: 261px;
  }
}