/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --contour-color: black;
  --animation-fill-color: transparent;
  --sparks-opacity: 0;
}